#gamearea * {
  position: absolute;
  display: inline-block;
  border: 2px solid yellow;
}

/*rows*/

body {
  background-color: grey;
}

._A {
  top: 100px;
  height: 100px;
}

._B {
  top: 200px;
  height: 100px;
}

._C {
  top: 300px;
  height: 100px;
}

._D {
  top: 400px;
  height: 100px;
}

._E {
  top: 500px;
  height: 100px;
}


._F {
  top: 600px;
  height: 100px;
}

._G {
  top: 700px;
  height: 100px;
}

._H {
  top: 800px;
  height: 100px;
}


._I {
  top: 900px;
  height: 100px;
}

._J {
  top: 1000px;
  height: 100px;
}



/*columns*/
._1 {
  left: 200px;
  width: 100px;
}

._2 {
  left: 300px;
  width: 100px;
}

._3 {
  left: 400px;
  width: 100px;
}

._4 {
  left: 500px;
  width: 100px;
}

._5 {
  left: 600px;
  width: 100px;
}

._6 {
  left: 700px;
  width: 100px;
}

._7 {
  left: 800px;
  width: 100px;
}

._8 {
  left: 900px;
  width: 100px;
}
._9 {
  left: 1000px;
  width: 100px;
}

._10 {
  left: 1100px;
  width: 100px;
}



/*values*/
._null {
  background-color: green;
}

._black {
  background-color: black;
}

._white {
  background-color: white;
}
