#gamearea * {
  position: absolute;
  display: inline-block;
  border: 2px solid black;
}

/*rows*/

._A {
  top: 100px;
  height: 100px;
}

._B {
  top: 200px;
  height: 100px;
}

._C {
  top: 300px;
  height: 100px;
}

._D {
  top: 400px;
  height: 100px;
}

._E {
  top: 500px;
  height: 100px;
}


/*columns*/
._1 {
  left: 300px;
  width: 100px;
}

._2 {
  left: 400px;
  width: 100px;
}

._3 {
  left: 500px;
  width: 100px;
}

._4 {
  left: 600px;
  width: 100px;
}

._5 {
  left: 700px;
  width: 100px;
}


/*values*/
._null {
  background-color: grey;
}

._black {
  background-color: black;
}

._white {
  background-color: white;
}
